.btn-login-cadastro {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-background {
  display: flex;
  width: 420px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.btn-login,
.btn-cadastro {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #86aedf;
  color: white;
}

.clicked {
  background-color: #2a69b4;
}
